/* #user-input {
  width: 30%;
} */

#robogerfied-numbers {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: solid thin;
}

.jumbotron {
  font-family: Bookman, 'Times New Roman', Times, serif;
  background-image: url("/img/neighborhood.jpg");
}

.jumbotron h1,.jumbotron p{
  background-color: white;
  width: max-content;
}

#beep-boop{
  text-align: center;
}